.fondo {
  background-image: linear-gradient(rgba(255, 255, 255, 0.514), rgba(255, 255, 255, 0.479)), url("img/fondo.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  
}
.navbar {
  text-align: center;
  justify-content: center;
}
.footer {
  background-color: rgba(0, 0, 0, 0.2);
}